body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
}

a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}

.form-row {
padding: 12px;
}

.error {
margin: 16px 480px;
font-style: bold;
text-align: center;
padding: 8px 16px;
border: 2px solid #B22222;
background: transparent;
color: #B22222;
}